@import '../../common.scss';

.form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 32px;

  @include media-query(tablet) {
    display: inline-block;
    margin-top: 0px;
  }
}

.input1 {
  border: none;
  border-bottom: 1px solid $style-color-form;
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $font-color-form;
  width: 280px;
  padding-bottom: 8px;
  padding-top: 8px;

  @include media-query(tablet) {
    margin-bottom: 60px;
    margin-right: 22px;
    width: 240px;
    padding-bottom: 20px;
    // padding-top: 20px;
  }
}
.input2 {
  border: none;
  border-bottom: 1px solid $style-color-form;
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $font-color-form;
  width: 280px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 20px;
  // padding-top: 20px;

  @include media-query(tablet) {
    text-align: right;
    margin-right: 87px;
    width: 107px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 60px;
  }
}

// .input:not(:last-child) {
//   @include media-query(tablet) {
//     margin-bottom: 60px;
//     margin-right: 22px;
//     width: 240px;
//   }
// }

// .input :last-child {
//   @include media-query(tablet) {
//     // margin-right: 87px;
//     // width: 107px;
//   }
// }

.btn1 {
  color: $bg-color-primary;
  background-color: $color-accent;
  font-family: 'Verdana';
  font-size: 14px;
  line-height: 1.21;
  font-weight: 700;
  padding: 13px 46px;
  border-radius: 30px;
  width: 176px;
  height: 44px;
  align-items: center;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 184px;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);

  @include media-query(tablet) {
    display: none;
  }
}

.btn2 {
  @include media-query(tablet) {
    background-color: $color-accent;
    background-image: url(../../shared/images/DiaryAddPoductForm/cross.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    top: 20px;
  }
}

.btn:hover,
:focus {
}
